#app {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%); */
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.sudoku-list {
    width: 360px;
    height: 360px;
    border: 2px solid silver;
}
/* .sudoku-list li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid silver;
    box-sizing: border-box;
    text-align: center;
} */
.sudoku-list .zero-cell {
    background-color: brown;
}
.sudoku-list .rele-focus {
    background-color: seagreen;
}
.sudoku-list .rele-invalid {
    background-color: crimson;
}
.sudoku-list li.digged-cell.focus {
    /* background-color: aqua; */
    border-color: aqua;
}
.sudoku-list .input-invalid {
    background-color: crimson;
}
.digged-cell {
    background-color: darksalmon;
}
.base-cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid silver;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.base-cell.bold-bottom {
    border-bottom: 1px solid black;
}
.base-cell.bold-top {
    border-top: 1px solid black;
}
.base-cell.bold-right {
    border-right: 1px solid black;
}
.base-cell.bold-left {
    border-left: 1px solid black;
}

ul.number-btns {
    margin-top: 20px;
    width: 400px;
    border: 2px solid silver;
}

.user-interface {
    margin: 0 -10px;
    text-align: center;
}
.user-btns {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: 2px solid darksalmon;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}
.answer-table {
    position: relative;
    display: none;
}
.answer-table.show {
    display: block;
}
.answer-table .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid maroon;
    border-radius: 50%;
}